@font-face {
  font-family: GrowlandBold;
  src: url(Fonts/Growland\ Bold.otf);
}

@font-face {
  font-family: GrowlandBlack;
  src: url(Fonts/Growland\ Black.otf);
}

*{
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.navPanel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem 0rem 2rem;
  margin-bottom: 0rem;
}

.navButton{
  height: 1.2rem;
  width: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.2rem;
  overflow: hidden;
  border-radius: 1rem 0rem 1rem 0rem;
  /* transform: rotate(45deg); */
}

.bar{
  width: 100%;
  height: 15%;
  background-color: #FDC31A;
  border-radius: 0.5rem;
}

/* .one,.three{
  width: 8%;
  height:50%;
  justify-self: center;
  align-self: center;
} */

.two{
  height: 14%;
}

.skillContainer{
  display: flex;
  flex-direction: column;
  height: 4rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.skillDisplay{
  position: relative;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  animation: split 18s infinite linear;
  /* animation: flicker 8s linear infinite forwards; */
}

.skillText{
  position: relative;
  height: 1rem;
  font-size: 1.2rem;
  width: 40rem;
  margin-top: 0.2rem;
  color: black;
  font-family: GrowlandBlack;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  animation: roll 18s infinite linear;
}

.skill{
  display: flex;
  justify-content: center;

  width: 30rem;
}

.skillDisplay::before,
.skillDisplay::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
}

.skillDisplay::before {
  background: linear-gradient(to right, black 0%,#6f2b00 10%,#FDC31A 90%, black 100%);
  animation: fadeA 10s infinite;
}

.skillDisplay::after {
  background: linear-gradient(to right,black 0%,#FDC31A 10%,#6f2b00 90%, black 100%);
  animation: fadeB 10s infinite;
}

@keyframes fadeA {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes fadeB {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}


/* .nameText{
  background-color: rgba(255, 255, 255, 0);
  padding: 0rem;
  margin: 0rem;
}

.name2{
  transform: translateY(-0.6rem);
}

.name1 {
  transform: translateY(0.7rem);
  } */


/* .skillDisplay{
  font-family: GrowlandBold;
  color: #FDC31A;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 2rem;
  transform-style: preserve-3d;
  animation: roll 12s infinite linear;
} */

/* .skillDisplay div h2 span{
  color: #c64f06;
} */

.skill{
  position:absolute;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  backface-visibility: hidden;
}

.s1{
  transform: rotateX(0deg) translateZ(2rem);
}

.s2 {
  transform: rotateX(90deg) translateZ(2rem);
}

.s3{
  transform: rotateX(180deg) translateZ(2rem);
}

.s4 {
  transform: rotateX(270deg) translateZ(2rem);
}

@keyframes split{
  0%{
    width: 50%;
    height: 1.5rem;
    overflow: hidden;
    flex-wrap: nowrap;
  }
  2%{
    width: 100%;
    height: 1.5rem;
  }
  19%{
    width: 100%;
    height: 1.5rem;
  }
  20%{
    width: 50%;
    height: 0.1rem;
  }
  25%{
    width: 50%;
    height: 0.1rem;
  }
  27%{
    width: 100%;
    height: 1.5rem;
  }
  44%{
    width: 100%;
    height: 1.5rem;
  }
  45%{
    width: 50%;
    height: 0.1rem;
  }
  52%{
    width: 50%;
    height: 0.1rem;
  }
  54%{
    width: 100%;
    height: 1.5rem;
  }
  69%{
    width: 100%;
    height: 1.5rem;
  }
  70%{
    width: 50%;
    height: 0.1rem;
  }
  76%{
    width: 50%;
    height: 0.1rem;
  }
  77%{
    width: 100%;
    height: 1.5rem;
  }
  93%{
    width: 100%;
    height: 1.5rem;
  }
  94%{
    width: 50%;
    height: 0.1rem;
  }
  100%{
    width: 50%;
    height: 0.1rem;
    overflow: hidden;
    flex-wrap: nowrap;
  }
}

@keyframes roll {
  0%{
    transform: rotateX(0deg);
  }
  20%{
    transform: rotateX(0deg);
  }

  25%{
    transform: rotateX(90deg);
  }
  45%{
    transform: rotateX(90deg);
  }

  50%{
    transform: rotateX(180deg);
  }
  70%{
    transform: rotateX(180deg);
  }

  75%{
    transform: rotateX(270deg);
  }
  95%{
    transform: rotateX(270deg);
  }

  100%{
    transform: rotateX(360deg);
  }
}


@keyframes flicker {
  0%{
    opacity: 0.5;
  }
  1%{
    opacity: 0.4;
  }
  2%{
    opacity: 0.5;
  }
  8%{
    opacity: 0.5;
  }
  9%{
    opacity: 0.5;
  }
  8%{
    opacity: 1;
  }
  9%{
    opacity: 0.5;
  }
  10%{
    opacity: 0.4;
  }
  17%{
    opacity: 0.4;
  }
  18%{
    opacity: 1;
  }
  19%{
    opacity: 0.4;
  }
  25%{
    opacity: 1;
  }
  49%{
    opacity: 1;
  }
  50%{
    opacity: 0.4;
  }
  51%{
    opacity:1;
  }
  100%{
    opacity: 1;
  }
}


@media screen and (min-width: 900px) {
  .nameDisplay {
      position: relative;
      height: 3rem;
      color: black;
      font-family: GrowlandBlack;
      display: flex;
      gap:5rem;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 2.2rem;
      margin-top: 1rem;
      animation: flicker 8s linear infinite forwards;
    }

    .nameText {
      background-color: rgba(255, 255, 255, 0);
      padding: 0rem;
      margin: 0rem;
      
    }
  
    .name2 {
      transform: translateY(0rem);
      transform: scale(1.2);
    }
  
    .name1 {
      transform: translateY(0rem);
      transform: scale(1.2);
    }
}