@font-face {
  font-family: GrowlandBold;
  src: url(Fonts/Growland\ Bold.otf);
}

@font-face {
  font-family: GrowlandBlack;
  src: url(Fonts/Growland\ Black.otf);
}

*{
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.navPanel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem 0rem 2rem;
  margin-bottom: 0rem;
}

.navButton{
  height: 1.4rem;
  width: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.2rem;
  overflow: hidden;
  border-radius: 1rem 0rem 1rem 0rem;
  /* transform: rotate(45deg); */
}

.bar{
  width: 100%;
  height: 15%;
  background-color: #FDC31A;
  border-radius: 0.5rem;
}

/* .one,.three{
  width: 8%;
  height:50%;
  justify-self: center;
  align-self: center;
} */

.two{
  height: 14%;
}


.nameDisplay{
  position: relative;
  height: 6rem;
  color: black;
  font-family: GrowlandBlack;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  margin-top: 1rem;
  animation: flicker 8s linear infinite forwards;
}

.nameDisplay::before,
.nameDisplay::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
}

.nameDisplay::before {
  background: linear-gradient(to right, black 0%,#AD4100 20%,#FDC31A 80%, black 100%);
  animation: fadeA 10s infinite;
}

.nameDisplay::after {
  background: linear-gradient(to right,black 0%,#FDC31A 20%,#AD4100 80%, black 100%);
  animation: fadeB 10s infinite;
}

@keyframes fadeA {

  0%,
  100% {
    opacity: 0.8;
  }

  50% {
    opacity: 0;
  }
}

@keyframes fadeB {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 0.8;
  }
}


.nameText{
  background-color: rgba(255, 255, 255, 0);
  padding: 0rem;
  margin: 0rem;
}

.name2{
  transform: translateY(-0.6rem);
}

.name1 {
  transform: translateY(0.7rem);
}

.skillDisplay{
  font-family: GrowlandBold;
  color: #FDC31A;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 2rem;
}

.skillDisplay div h2 span{
  color: #c64f06;
}

@keyframes flicker {
  0%{
    opacity: 0.1;
  }
  1%{
    opacity: 0.5;
  }
  8%{
    opacity: 0.8;
  }
  9%{
    opacity: 0.2;
  }
  10%{
    opacity: 0.2;
  }
  17%{
    opacity: 0.1;
  }
  18%{
    opacity: 0.8;
  }
  19%{
    opacity: 0.1;
  }
  25%{
    opacity: 0.8;
  }
  49%{
    opacity: 0.8;
  }
  50%{
    opacity: 0.2;
  }
  51%{
    opacity:0.8;
  }
  100%{
    opacity: 0.8;
  }
}
