@font-face {
  font-family: GrowlandBold;
  src: url(Fonts/Growland\ Bold.otf);
}

@font-face {
  font-family: GrowlandBlack;
  src: url(Fonts/Growland\ Black.otf);
}

*{
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body{
  background-color: black;
}

.navPanel{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem 0rem 2rem;
  margin-bottom: 0rem;
}

.navButton{
  height: 1.2rem;
  width: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.2rem;
  overflow: hidden;
  border-radius: 1rem 0rem 1rem 0rem;
  /* transform: rotate(45deg); */
}

.bar{
  width: 100%;
  height: 15%;
  background-color: #FDC31A;
  border-radius: 0.5rem;
}


.two{
  height: 13%;
}

.skillContainer{
  display: flex;
  flex-direction: column;
  height: 4rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.skillDisplay{
  position: relative;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  animation: split 25s infinite linear;
  /* animation: flicker 8s linear infinite forwards; */
}

.skillText{
  position: relative;
  height: 1rem;
  font-size: 1.2rem;
  width: 40rem;
  margin-top: 0.2rem;
  color: black;
  font-family: GrowlandBlack;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  animation: roll 25s infinite linear;
}

.skill{
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: hidden;
  backface-visibility: hidden;
  width: 30rem;
  /* animation: appear 18s infinite linear; */
  animation-fill-mode: both;
}

.skillDisplay::before,
.skillDisplay::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
}

.skillDisplay::before {
  background: linear-gradient(to right, black 0%,#6f2b00 10%,#FDC31A 90%, black 100%);
  animation: fadeA 10s infinite;
}

.skillDisplay::after {
  background: linear-gradient(to right,black 0%,#FDC31A 10%,#6f2b00 90%, black 100%);
  animation: fadeB 10s infinite;
}

@keyframes fadeA {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes fadeB {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

.s1 { transform: rotateX(0deg)   translateZ(2rem); }
.s2 { transform: rotateX(60deg)  translateZ(2rem); }
.s3 { transform: rotateX(120deg) translateZ(2rem); }
.s4 { transform: rotateX(180deg) translateZ(2rem); }
.s5 { transform: rotateX(240deg) translateZ(2rem); }
.s6 { transform: rotateX(300deg) translateZ(2rem); }

@keyframes split{
  0%{
    width: 100%;
    height: 2rem;
    overflow: hidden;
    flex-wrap: nowrap;
  }
  12%{
    width: 100%;
    height: 2rem;
  }

  13%{
    width: 50%;
    height: 0.05rem;
  }
  16%{
    width: 50%;
    height: 0.05rem;
  }
  17%{
    width: 100%;
    height: 2rem;
  }
  29%{
    width: 100%;
    height: 2rem;
  }
  30%{
    width: 50%;
    height: 0.05rem;
  }
  33%{
    width: 50%;
    height: 0.05rem;
  }
  34%{
    width: 100%;
    height: 2rem;
  }
  45%{
    width: 100%;
    height: 2rem;
  }
  46%{
    width: 50%;
    height: 0.05rem;
  }
  49%{
    width: 50%;
    height: 0.05rem;
  }
  50%{
    width: 100%;
    height: 2rem;
  }
  61%{
    width: 100%;
    height: 2rem;
  }
  62%{
    width: 50%;
    height: 0.05rem;
  }
  65%{
    width: 50%;
    height: 0.05rem;
  }
  66%{
    width: 100%;
    height: 2rem;
  }
  77%{
    width: 100%;
    height: 2rem;
  }
  78%{
    width: 50%;
    height: 0.05rem;
  }
  81%{
    width: 50%;
    height: 0.05rem;
  }
  82%{
    width: 100%;
    height: 2rem;
  }
  93%{
    width: 100%;
    height: 2rem;
  }
  94%{
    width: 50%;
    height: 0.05rem;
  }
  98%{
    width: 50%;
    height: 0.05rem;
  }
  100%{
    width: 100%;
    height: 2rem;
    overflow: hidden;
  }
}

@keyframes roll {
  0% { transform: rotateX(0deg); }
  14% { transform: rotateX(0deg); }
  16% { transform: rotateX(-60deg); }
  30% { transform: rotateX(-60deg); }
  32% { transform: rotateX(-120deg); }
  46% { transform: rotateX(-120deg); }
  48% { transform: rotateX(-180deg); }
  62% { transform: rotateX(-180deg); }
  64% { transform: rotateX(-240deg); }
  78% { transform: rotateX(-240deg); }
  80% { transform: rotateX(-300deg); }
  94% { transform: rotateX(-300deg); }
  100% { transform: rotateX(-360deg); }
}

/* @keyframes appear {
  0% { opacity: 0; }
  5% { opacity: 1; }
  15% { opacity: 1; }
  20% { opacity: 0; }
  100% { opacity: 0; }
} */

.skill.s1 { animation-delay: 0s; }
.skill.s2 { animation-delay: -3s; }
.skill.s3 { animation-delay: -6s; }
.skill.s4 { animation-delay: -9s; }
.skill.s5 { animation-delay: -12s; }
.skill.s6 { animation-delay: -15s; }



@media screen and (min-width: 900px) {
  .nameDisplay {
      position: relative;
      height: 3rem;
      color: black;
      font-family: GrowlandBlack;
      display: flex;
      gap:5rem;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 2.2rem;
      margin-top: 1rem;
      animation: flicker 8s linear infinite forwards;
    }

    .nameText {
      background-color: rgba(255, 255, 255, 0);
      padding: 0rem;
      margin: 0rem;
      
    }
  
    .name2 {
      transform: translateY(0rem);
      transform: scale(1.2);
    }
  
    .name1 {
      transform: translateY(0rem);
      transform: scale(1.2);
    }
}